In [1]:
import pandas as p
# series using pandas
d=[2,2.1,"a"]
s=p.Series(d, index=["a","b","c"])
s.loc["c"]=20000
print(s[s<200])

a      2
b    2.1
dtype: object

In [37]:
c={"d 1":1750,"d 2":2100,"d 3":1700}
s=p.Series(c)
s.loc["d 3"]+=500
print(s[s<2000])

d 1    1750
dtype: int64

In [72]:
# dataframes
d={"name":["pun","abi"],"age":[30,29]}
d=p.DataFrame(d)
d["Job"]=["cook","n/a"]
nr=p.DataFrame([{"name":"ppp"}])
d=p.concat([d,nr])
print(d)

  name   age   Job
0  pun  30.0  cook
1  abi  29.0   n/a
0  ppp   NaN   NaN

In [2]:
# reading files
d=p.read_excel(r"C:\Users\hegde\AppData\Local\Temp\1e4454d9-b151-4471-9c92-a471787c40c9_archive (1).zip.0c9\Copy of Pokemon.xlsx",index_col="Name")
df=p.read_json(r"C:\Users\hegde\Documents\archive (1)\Pokemon-evolution.json")
print(d)

                         #   Type 1  Type 2  Total  HP  Attack  Defense  \
Name
Bulbasaur                1    Grass  Poison    318  45      49       49
Ivysaur                  2    Grass  Poison    405  60      62       63
Venusaur                 3    Grass  Poison    525  80      82       83
VenusaurMega Venusaur    3    Grass  Poison    625  80     100      123
Charmander               4     Fire     NaN    309  39      52       43
...                    ...      ...     ...    ...  ..     ...      ...
Diancie                719     Rock   Fairy    600  50     100      150
DiancieMega Diancie    719     Rock   Fairy    700  50     160      110
HoopaHoopa Confined    720  Psychic   Ghost    600  80     110       60
HoopaHoopa Unbound     720  Psychic    Dark    680  80     160       60
Volcanion              721     Fire   Water    600  80     110      120

                       Sp. Atk  Sp. Def  Speed  Generation  Legendary
Name
Bulbasaur                   65       65     45           1      False
Ivysaur                     80       80     60           1      False
Venusaur                   100      100     80           1      False
VenusaurMega Venusaur      122      120     80           1      False
Charmander                  60       50     65           1      False
...                        ...      ...    ...         ...        ...
Diancie                    100      150     50           6       True
DiancieMega Diancie        160      110    110           6       True
HoopaHoopa Confined        150      130     70           6       True
HoopaHoopa Unbound         170      130     80           6       True
Volcanion                  130       90     70           6       True

[800 rows x 12 columns]

In [5]:
# selection
print(d["Name"])

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [7]:
print(d)

       #                   Name   Type 1  Type 2  Total  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison    318  45      49       49
1      2                Ivysaur    Grass  Poison    405  60      62       63
2      3               Venusaur    Grass  Poison    525  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison    625  80     100      123
4      4             Charmander     Fire     NaN    309  39      52       43
..   ...                    ...      ...     ...    ...  ..     ...      ...
795  719                Diancie     Rock   Fairy    600  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy    700  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost    600  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark    680  80     160       60
799  721              Volcanion     Fire   Water    600  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 13 columns]

In [11]:
print(d[["Name","Generation","Speed"]])

                      Name  Generation  Speed
0                Bulbasaur           1     45
1                  Ivysaur           1     60
2                 Venusaur           1     80
3    VenusaurMega Venusaur           1     80
4               Charmander           1     65
..                     ...         ...    ...
795                Diancie           6     50
796    DiancieMega Diancie           6    110
797    HoopaHoopa Confined           6     70
798     HoopaHoopa Unbound           6     80
799              Volcanion           6     70

[800 rows x 3 columns]

In [25]:
# selection by rows
print(d.loc["Mewtwo",["Generation","Speed"]])
print(d.iloc[0:11,0:3])

Generation      1
Speed         130
Name: Mewtwo, dtype: object
                           # Type 1  Type 2
Name
Bulbasaur                  1  Grass  Poison
Ivysaur                    2  Grass  Poison
Venusaur                   3  Grass  Poison
VenusaurMega Venusaur      3  Grass  Poison
Charmander                 4   Fire     NaN
Charmeleon                 5   Fire     NaN
Charizard                  6   Fire  Flying
CharizardMega Charizard X  6   Fire  Dragon
CharizardMega Charizard Y  6   Fire  Flying
Squirtle                   7  Water     NaN
Wartortle                  8  Water     NaN

In [31]:
p=input("enter a name")
print(d.loc[p])

enter a name Charmander

#                 4
Type 1         Fire
Type 2          NaN
Total           309
HP               39
Attack           52
Defense          43
Sp. Atk          60
Sp. Def          50
Speed            65
Generation        1
Legendary     False
Name: Charmander, dtype: object

In [27]:
tp=d[d["Attack"]>=60]
#print(tp)
hp=d[d["Speed"]>70]
#print(hp.to_string())
lp=d[d["Legendary"]==1]
#print(lp)
tpp=d[(d["Type 1"]=="Water")&(d["Type 2"]=="Grass")]
print(tpp)

            # Type 1 Type 2  Total  HP  Attack  Defense  Sp. Atk  Sp. Def  \
Name
Lotad     270  Water  Grass    220  40      30       30       40       50
Lombre    271  Water  Grass    340  60      50       50       60       70
Ludicolo  272  Water  Grass    480  80      70       70       90      100

          Speed  Generation  Legendary
Name
Lotad        30           3      False
Lombre       50           3      False
Ludicolo     70           3      False